nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

body {
    background-color: #3590AB;
}

#div-texto-gdm-games {
    background-color:#617378;
    text-align: center;
    height: 30px;
}

#div-texto-seja-bem-vindo{
    text-align: center;
}

#div-texto-qual-seu-estilo{
text-align: center;
}

#Jogos-eletronicos-de-computador {
    display: flex;
    background-color:#ffffff;
    width: 907px;
    margin-left: 280px;
}

#Jogos-eletronicos-de-computador-parte-esquerda {
    margin-left:40px;
}

#Jogos-eletronicos-de-computador-parte-direita {

}

#icones-jogos-eletronicos ul {
    display: flex;
    list-style: none;
    padding-left: 11px;
    margin-block-start: 0px;

}

#Jogos-eletronicos-de-computador-parte-esquerda h2 {
    font-size: 30px; /* Ajuste o tamanho do título conforme necessário */
    text-align: left;
    margin-bottom: 10px;
}

#Jogos-eletronicos-de-computador-parte-esquerda p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left; /* Ajusta o alinhamento do texto para a direita */
}

#texto-Jogos-eletronicos-de-computador-parte-esquerda {
    align-items: left;
}

#icones-jogos-eletronicos li {
   margin-right: 30px;
}

nav{
background-color:floralwhite;
}

.itemmunu{
display: block;
}

