nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

body {
    background-color: #3590AB;
}

#div-texto-gdm-games {
    background-color:#617378;
    text-align: center;
    height: 20px;
    width: 1440px;
    margin: 0 auto; /* Isso centraliza horizontalmente */

}

#div-texto-seja-bem-vindo{
    text-align: center;
}

#div-texto-qual-seu-estilo{
text-align: center;
}

#Jogos-eletronicos-de-computador {
    display: flex;
    background-color:#ffffff;
    width: 907px;
    margin-left: 284px;
}

#Jogos-eletronicos-de-computador-parte-esquerda {
    margin-left:40px;
}

#Jogos-eletronicos-de-computador-parte-direita {

}

#icones-jogos-eletronicos ul {
    display: flex;
    list-style: none;
    padding-left: 11px;
    margin-block-start: 0px;

}

#Jogos-eletronicos-de-computador-parte-esquerda h2 {
    font-size: 20px; /* Ajuste o tamanho do título conforme necessário */
    text-align: left;
    margin-bottom: 10px;
}

#Jogos-eletronicos-de-computador-parte-esquerda p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left; /* Ajusta o alinhamento do texto para a direita */
}

#texto-Jogos-eletronicos-de-computador-parte-esquerda {
    align-items: left;
}

#icones-jogos-eletronicos li {
   margin-right: 20px;
}

nav{
background-color:floralwhite;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around; /* ou use justify-content: space-between; */
    padding: 0;
}

nav li {
    text-align: center;
}

.itemmenu{
display: flex;
flex-direction: column;
align-items: center;
}

.itemmenu a {
    text-decoration: none;
    color:floralwhite ; /* ou a cor desejada */
    display: inline-block;
    padding: 0px;
}

#divid-texto-gdm-games{
    width: 100%; 
    height: 40px; 
}

#botaosaibamaisRectangle {
    width: 150px; /* Defina a largura desejada em pixels ou outra unidade de medida */
    height: 50px; /* Defina a altura desejada em pixels ou outra unidade de medida */
    background-color: #7BD651;
    color:#ffffff;
    border: none;
    cursor: pointer;
}

.botaoRectangle {
    width: 150px; /* Defina a largura desejada em pixels ou outra unidade de medida */
    height: 50px; /* Defina a altura desejada em pixels ou outra unidade de medida */
    background-color: #617378;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
