nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

body {
    background-color: #3590AB;
}

#div-texto-gdm-games {
    background-color:#617378;
    text-align: center;
}

#div-texto-seja-bem-vindo{
    text-align: center;
}

#div-texto-qual-seu-estilo{
text-align: center;
}

#Jogos-eletronicos-de-computador {
    display: flex;
}

#Jogos-eletronicos-de-computador-parte-esquerda {
    border: 2px solid blue;
}

#Jogos-eletronicos-de-computador-parte-direita {
    border: 2px solid red;
}

#icones-jogos-eletronicos ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#Jogos-eletronicos-de-computador-parte-esquerda h2 {
    font-size: 40px; /* Ajuste o tamanho do título conforme necessário */
    text-align: left;
    margin-bottom: 10px;
}

#Jogos-eletronicos-de-computador-parte-esquerda p{
margin-bottom: 20px;
}